- var data = [{"name":"Flutter UI Designs","contribution":"Mobile App","type":"Open Source","description":["Features complex parallax animations. ","Desktop & web app support. ","Responsive UI. ","Basic internationalization. ","Light and Dark theme support."],"buttons":[{"label":"Store","icon":"mdi-google-play","link":"https://play.google.com/store/apps/details?id=com.onemdev.flutter_ui_challenges"},{"label":"Github","icon":"mdi-github","link":"https://github.com/hackerhgl/flutter-ui-designs"},{"label":"Web","icon":"mdi-web","link":"https://flutter-ui-challenges-hgl.web.app/"}],"skills":[]},{"name":"Flutter movie concept","contribution":"Mobile App","type":"Open Source","description":["Features complex parallax animations.","Scales on desktop, tablets & browser."],"buttons":[{"label":"Store","icon":"mdi-google-play","link":"https://play.google.com/store/apps/details?id=com.onemdev.invmovieconcept1"},{"label":"Github","icon":"mdi-github","link":"https://github.com/hackerhgl/invmovieconcept1"},{"label":"Web","icon":"mdi-web","link":"https://invmovieconcept1.web.app/"}],"skills":[]},{"name":"React Native Loop","contribution":"Mobile App","type":"Open Source","description":["Features complex parallax animations.","Scales on desktop, tablets & browser."],"buttons":[{"label":"Store","icon":"mdi-google-play","link":"https://play.google.com/store/apps/details?id=com.onemdev.rnloop"},{"label":"Github","icon":"mdi-github","link":"https://github.com/hackerhgl/react-native-loop-game"}],"skills":[]},{"name":"Golang minesweeper","contribution":"CLI App","type":"Open Source","description":["Features complex parallax animations.","Scales on desktop, tablets & browser."],"buttons":[{"label":"Github","icon":"mdi-github","link":"https://github.com/hackerhgl/go-minesweeper"}],"skills":[]},{"name":"My CV","contribution":"Web App","type":"Open Source","description":["Features complex parallax animations.","Scales on desktop, tablets & browser."],"buttons":[{"label":"Github","icon":"mdi-github","link":"https://github.com/hackerhgl/CV"},{"label":"Web","icon":"mdi-web","link":"https://hackerhgl-cv.web.app/"}],"skills":[]},{"name":"Peekaboo Guru","contribution":"Full Stack","type":"Product","description":["Features complex parallax animations.","Scales on desktop, tablets & browser."],"buttons":[{"label":"Store","icon":"mdi-google-play","link":"https://play.google.com/store/search?q=peekaboo%20guru&c=apps"},{"label":"Store","icon":"mdi-apple","link":"https://apps.apple.com/pk/app/peekaboo-guru/id1114129707"},{"label":"Web","icon":"mdi-web","link":"https://peekaboo.guru/"}],"skills":[]},{"name":"Sastaticket.pk","contribution":"Mobile App","type":"Product","description":["Features complex parallax animations.","Scales on desktop, tablets & browser."],"buttons":[{"label":"Store","icon":"mdi-google-play","link":"https://play.google.com/store/apps/details?id=com.pk.sastaticket"},{"label":"Store","icon":"mdi-apple","link":"https://apps.apple.com/by/app/sastaticket-flight-hotels/id1564441908"},{"label":"Web","icon":"mdi-web","link":"https://www.sastaticket.pk/"}],"skills":[]},{"name":"WheelBees","contribution":"Full Stack","type":"Product","description":["Features complex parallax animations.","Scales on desktop, tablets & browser."],"buttons":[{"label":"Store","icon":"mdi-google-play","link":""},{"label":"Github","icon":"mdi-github","link":""},{"label":"Web","icon":"mdi-web","link":""}],"skills":[]},{"name":"Grow youth ministry","contribution":"Mobile App","type":"Product","description":["Features complex parallax animations.","Scales on desktop, tablets & browser."],"buttons":[{"label":"Store","icon":"mdi-google-play","link":"https://play.google.com/store/apps/details?id=com.growappv2"},{"label":"Store","icon":"mdi-apple","link":"https://apps.apple.com/us/app/grow-youth-kids-ministry/id1260816727"}],"skills":[]}];

#projects.white-card
  .container
    .container-content
      h1.heading.ah1.afw6 Projects
      .projects-holder.container.zer0.float-fix
        for project in data
          .base.col-md-4.col-sm-6
            .project-card
              .header
                .gradient
                h3.ab1.afw6.title= project.name
              .body
                p.ab2.afw6.desc
                  for desc in project.description
                    =desc
                .buttons-holder
                  for button in project.buttons
                    a.button(href=button.link,target="_blank")
                      i.ab2.mdi(class=button.icon)
                      span.label.ab2.afw7= button.label
              .type.al1.afw6= project.type
