- var data = {"links":[{"href":"mailto:hamza.iqdev@gmail.com","icon":"mdi mdi-email","label":"hamza.iqdev@gmail.com"},{"href":"tel:+923148155304","icon":"mdi mdi-phone","label":"+92 314 8155304"},{"href":"https://www.linkedin.com/in/hackerhgl","target":"_linkedin","icon":"mdi mdi-linkedin","label":"Linkedin profile"},{"href":"https://www.github.com/hackerhgl","target":"_github","icon":"mdi mdi-github","label":"Github profile"}],"name":"Hamza Iqbal","title":"Full Stack/ React Native & Flutter Expert","image":"assets/hamza.jpg"};

#contact.white-card.sec-card
  .animation-base
    each val in [1,2,3,4,5]
      .animation-circle

  .container
    .container-content.float-fix
      .links.float-left
        h1.ah1.afw6= data.name
        h3.ab1.afw6= data.title
        h1.contact.ah3.afw5 Contacts and Profiles
        each link in data.links
          a.link(href=link.href, target=link.target)
            i.ah3.mdi(class=link.icon)
            span.ab1.label.afw6= link.label
          br
        //- .col-md-4
        //-   img.profile(src='https://raw.githubusercontent.com/hackerhgl/flutter-ui-designs/master/assets/user/hamza.jpg', alt='Hamza Iqbal')
      .profile.float-right
        img(src=data.image, alt=data.name)
