- var data = [{"journey":[{"position":"Software engineer","date":"Jan 2021 - Present"}],"company":"Sastaticket.pk","points":[["Leading flutter mobile (iOS, Android) development project of sastaticket.pk.","Leading flutter mobile (iOS, Android) development project of sastaticket.pk.","Leading flutter mobile (iOS, Android) development project of sastaticket.pk.","Leading flutter mobile (iOS, Android) development project of sastaticket.pk.","Leading flutter mobile (iOS, Android) development project of sastaticket.pk.","Leading flutter mobile (iOS, Android) development project of sastaticket.pk."]]},{"journey":[{"position":"Full Stack, Flutter and React Native","date":"Sep 2018 - Present"}],"company":"Fiverr","contract":"Freelance","points":[]},{"journey":[{"position":"Full Stack, Flutter and React Native","date":"May 2018 - Present"}],"company":"Upwork","contract":"Freelance","points":[]},{"company":"Fetch Sky","journey":[{"position":"Associate Software Engineer","date":"Nov 2017 - Jan 2018"},{"position":"Junior Software Engineer","date":"Dec 2016 - Oct 2017"}],"points":[["Peekaboo Guru is the product of Fetch Sky which is a location based platform.","that acts as your complete lifestyle guide and shows all the deals and discounts offered in the market.","I contributed technically on consumer mobile app and website, enterprise mobile sdk, internal admin panel and backend server."],["In consumer web and mobile app development I got to work with React Native, React JS, styled-components, Redux, Webpack and Redux Saga.","I built reusable components while making sure it scale well on multiple screen sizes.","I also learned a great deal of react eco system like best practices, proper use of lints, configuring webpack and firebase."],["In admin panel I got to work on AngularJS(1.5).","I built complex data tables to show, create, update and delete data.","Also integrated a custom built light weight image cropping and resizing module."],["In backend I got to work on AWS (S3, SES), puppeteer, NodeJS and MariaDB.","I wrote CRUD API calls for modules and & built a light weight image cropping module via \"node-canvas\"."]]}];

#experience-card
  .container
    .container-content
      h1.heading.ah1.afw6 Experience
      .experience-holder
        each exp in data
          .experience
            .header.float-fix
              .circle
                .inner
              p.company
                span.ah3.afw6= exp.company
                span.contract.ab1= exp.contract
            .journey-holder
              each journey in exp.journey
                .journey.float-fix
                  p.position.ab1.afw5= journey.position
                  p.ab1.afw4.date= journey.date
                  if exp.points.length > 0
                    .break
            if exp.points.length > 0
              .points-holder
                each array in exp.points
                  each point in array
                    span.point.ab1= point
                  .point-break
            div.br
