- var data = [{"journey":[{"position":"Software engineer","date":"Jan 2021 - Aug 2021"}],"company":"Sastaticket.pk","points":["Constructed Pakistan's top-ranked and trending airline traveling app.","Architected the code structure with the Bloc design pattern.","Configured app flavors to maintain QA, Stage, Development, and Production environments.","Developed custom Github Actions & NodeJS script to upload APK on Google Drive directory and share the directory's link via email.","Used flutter's event channel to share data between the dart and native code.","Integrated Webengage, Mixpanel, AppsFlyer, Facebook, and Firebase analytics according to marketing requirements.","Integrated push notifications via Webengage and Firebase messaging.","Developed and maintained scripts for automating intl JSON generation, boilerplate code generation, assets generation, and pre-deployment setup.","Published Sastaticket.pk's new flutter mobile app with enhanced UI/UX to the app store and the play store."],"tech":[{"label":"Flutter","icon":"mdi-cellphone"},{"label":"Bloc"},{"label":"Hygen.io"},{"label":"Firebase","icon":"mdi-firebase"},{"label":"Analytics"},{"label":"Node JS","icon":"mdi-nodejs"},{"label":"Javascript","icon":"mdi-language-javascript"},{"label":"Github Actions","icon":"mdi-github"},{"label":"Google Drive API","icon":"mdi-google-drive"},{"label":"CI/CD","icon":"mdi-infinity"},{"label":"SMTP","icon":"mdi-email-send-outline"},{"label":"Java","icon":"mdi-language-java"}]},{"journey":[{"position":"Full Stack, Flutter and React Native","date":"Since Sep 2018"}],"company":"Fiverr","contract":"Freelance","points":["I mostly took small gigs like build MVP mobile apps using React Native & Flutter for different clients.","I built a small-scale custom CMS for managing data with MYSQL, Node JS, and React JS.","Also did Fixed bugs, tunned performance, Updated apps to new flutter version by solving native dependency conflicts,","Made unstable apps to stable stage."],"tech":[]},{"journey":[{"position":"Full Stack, Flutter and React Native","date":"Since May 2018"}],"company":"Upwork","contract":"Freelance","points":["During my Upwork journey, I worked two short term jobs where I fixed bugs and improved user experience,","and worked with a long term client where I built small scale MVP apps with React Native and React JS,","Also built `Grow youth app` with React Native and published it on App Store and Play Store"],"tech":[]},{"company":"Fetch Sky","journey":[{"position":"Associate Software Engineer","date":"Nov 2017 - Jan 2018"},{"position":"Junior Software Engineer","date":"Dec 2016 - Oct 2017"}],"points":["At Fetch Sky, I worked on Peekaboo Guru, Which is a location-based platform.","In consumer web and mobile app development, I got to work on React Native, React JS, styled-components, Redux, Webpack, and Redux-Saga.","I built reusable components while making sure they scale well on multiple screen sizes.","I also learned a great deal about react ecosystem like best practices, proper use of lint, configuring webpack, and firebase analytics, monitoring.","In the admin panel, I got to work on AngularJS(1.5).","I built complex data tables for managing data.","Wrote CRUD API calls on NodeJS and MYSQL.","Took PDF snapshot of Analytics dashboard and send via email ","In the backend, I got to work on AWS (S3, SES), puppeteer snapshots, NodeJS, and MYSQL.","I wrote CRUD API calls and built a lightweight image cropping module via \"node-canvas\".","Had a chance to work with technically advanced seniors, which helped me in my career growth."],"tech":[]}];

#experience-card
  .container
    .container-content
      h1.heading.ah3.afw6 Experience
      .experience-holder
        each exp in data
          .experience
            //- .header.float-fix
            //-   .circle
            //-     .inner
            .container.float-fix
              .col-md-4
                p.company
                  span.ab1.afw5= exp.company
                  span.contract.ab1= exp.contract
                .journey-holder
                  each journey, key in exp.journey
                    .journey.float-fix
                      p.position.ab2= journey.position
                      p.al1.afw5.date= journey.date
                if exp.tech.length > 0
                  .ab2.afw6.technology-heading Technologies:
                  .technologies-holder
                    each tech, key in exp.tech
                      .technology-item
                        if tech.icon != null
                          i.al2.mdi(class= tech.icon)
                        span.al1.afw5= tech.label
                        if key < exp.tech.length-1
                          span.span= ", "
              .col-md-8
                if exp.points.length > 0
                  ul.points-holder
                    each point in exp.points
                      li.point.ab2= point
            div.br
